.container {
  display: inline-block;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: lightpink;
}

.title {
  margin-left: 20px;
  margin-block: 0px;
}

.board {
  padding: 20px;
  background-color: bisque;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.buttons > button {
  flex-grow: 1
}

.status {
  padding: 20px;
  background-color: paleturquoise;
}